/* 

BLOCK: browser respects width/height. top/bottom mrgin
INLINE: browser doest not respect width/height,
top/bottom margin
Navbar
list-type: property
descendant selectors

*/

.block {
  background: teal;
  color: whitesmoke;
  width: 300px;
  margin: 2rem auto;
}

.inline {
  background: red;
  color: white;
}
