/* 
Horizontal Centering
*/

.block {
  background-color: blue;
  color: white;
  width: 300px;
  margin: 2rem auto;
}

.inline {
  background: red;
  color: white;
}

body {
  text-align: center;
  text-align: left;
  text-align: right;
}
