/* background-repeat */

div {
  height: 300px;
  color: white;
  border: 2px solid red;
}

.big-img {
  background: url("./big.jpeg");
}
.small-img {
  background: url("./small.jpeg");
  background-repeat: no-repeat;
  background-repeat: repeat;
  background-repeat: repeat-x;
  background-repeat: repeat-y;
  background-repeat: space;
  background-repeat: round;
}
.folder-img {
  background: url("./images//folder-img.jpeg");
}
