/* background-attachment */

div {
  width: 150px;
  height: 150px;
  margin: 5px;
}

.one {
  background: linear-gradient(to top, rgb(97, 80, 80), green);
}
.two {
  background: linear-gradient(
    to left,
    red,
    green,
    blue,
    #234564,
    white,
    wheat,
    purple
  );
}
.three {
  background: linear-gradient(
    315deg,
    red,
    green,
    blue,
    #234564,
    white,
    wheat,
    purple
  );
}
.four {
  background: linear-gradient(
    to top right,
    red,
    green,
    blue,
    #234564,
    white,
    wheat,
    purple
  );
}
.five {
  background: linear-gradient(blue 20%, yellow 70%);
}
.six {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9));
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div {
  min-height: 100vh;
  color: white;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-transform: uppercase;
}

.big-img {
  background: url("./big.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.small-img {
  background: url("./images/folder-img.jpeg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
 
}
.folder-img {
  background: url("./big.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
} */
